*{
    margin: 0;
    padding: 0;
    color: #3f3d56;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

body{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 396px;
}






























/* meu codigo - checar dps

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 37px;
    margin-bottom: 22px;
    font-weight: 700;    
}

.label-field{
    font-size: 14px;
}

.box{
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
    width: 396px;
    height: 47px;
    border: 1px;
}

.label-field{
    font-size: 14px;
}

.label-date{
    font-size: 14px;
}

.box-date{
    display: flex;
    flex-direction: column;
    margin-bottom: 51px;
    width: 170px;
    height: 47px;
    border: 1px;
}

.label-country{
    font-size: 14px;
}

.box-country{
    display: flex;
    flex-direction: column;
    margin-bottom: 51px;
    width: 208px;
    height: 47px;
    border: 1px; 
}

.label-genre{
    font-size: 14px;
}

.box-genre{
    display: flex;
    margin-bottom: 23px;
}

.label-email{
    font-size: 14px;
}

.box-email{
    display: flex;
    flex-direction: column;
    margin-bottom: 51px;

}

.label-password{
    font-size: 14px;
}

.box-password{
    display: flex;
    flex-direction: column;
    margin-bottom: 51px;
    width: 208px;
    height: 47px;
    border: 1px; 
}

.label-check-password{
    font-size: 14px;
}

.box-check-password{
    display: flex;
    flex-direction: column;
    margin-bottom: 51px;
    width: 396px;
    height: 47px;
    border: 1px; 
}

.input-check{
    width: 18px;
    height: 18px;
}

.terms{
    font-size: 14px;
    display: flex;
    margin-bottom: 28px;
    width: 396px;
    height: 47px;
    border: 1px; 
}



.button{
    background-color: #3F3D56;
    border-radius: 5px;
    width: 396px;
    height: 47px;
}*/